html {
   position: relative;
   min-height: 100%;
}

body {
   z-index: -2;
   margin-bottom: 0px;
}

header .stripes {
   z-index: -1;
}

main {}

.navbar-brand>img {
   border-radius: 4px;
}

.bg-light {
   background-color: #cccc !important;
}

.bg-dark {
   background-color: #3339 !important;
}

footer {
   position: fixed;
   height: 60px;
   bottom: 0;
   width: 100%;
}

.qr {
   width: 250px;
   border-radius: 15px;
   box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 2rem 0 rgba(0, 0, 0, 0.25);
}