html {
   min-height: 100vh;
   box-sizing: border-box;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

body {
   position: relative;
   margin: 0;
   padding-bottom: 76px;
   min-height: 100vh;
   height: 100vh;
   z-index: -2;
   /*padding-bottom: 76px;*/
}

header .stripes {
   z-index: -1;
}

main {
   color: #eee;
   z-index: 0;
}

.bg-blurred {
   background-color: rgba(191, 191, 191, 0.91);
   background-color: #ccce;
}

/*Needs experimantal web platform flag on chrome*/
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
   .bg-blurred {
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      background-color: rgba(191, 191, 191, 0.125) !important;
      background-color: #ccc2 !important;
   }
}

.navbar-brand>img {
   border-radius: 4px;
}

footer {
   height: 60px;
   width: 100%;
   position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
}

h1 {
   margin-top: 66px !important;
   margin-bottom: 1.5rem;
   text-shadow: 2px 2px 5px #222;
}

.qr {
   width: 250px;
   border-radius: 15px;
   box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3), 0 1rem 2rem 0 rgba(0, 0, 0, 0.3);
}

.ue4bp {
   width: 66%;
   min-width: 280px;
   max-width: 575px;
   margin-left: 1rem;
   margin-bottom: 2rem;
   box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3), 0 1rem 2rem 0 rgba(0, 0, 0, 0.3);
}

.blogbg {
   background-color: rgba(0, 0, 0, 0);
   background-color: #0000;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
   .blogbg {
      -webkit-backdrop-filter: blur(12px);
      backdrop-filter: blur(12px);
      background-color: rgba(64, 64, 64, 0.125) !important;
      background-color: #4442 !important;
   }
}

.blogtitle>a {
   color: #eee;
   text-shadow: 2px 2px 5px #222;
}

p {
   color: #eee;
   text-shadow: 2px 2px 5px #222;
   word-break: keep-all;
   word-wrap: normal;
   overflow-wrap: normal;
}

a[data-toggle="collapse"]:after {
   display: inline-block;
   display: inline-block;
   font: normal normal normal 14px/1 FontAwesome;
   font-size: inherit;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   content: "\f054";
   transform: rotate(90deg);
   transition: all linear 0.25s;
   float: right;
   text-shadow: 2px -2px 5px #222;
}

a[data-toggle="collapse"].collapsed:after {
   transform: rotate(0deg);
   text-shadow: 2px 2px 5px #222;
}

a[data-toggle="collapse"] {
   transform: rotate(0deg);
   text-shadow: 2px 2px 5px #222;
}
